[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pypdf = "*"
reportlab = "*"
pdf2image = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.11"
